html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);


}

body section {
    margin: var(--section-margin-y) var(--page-margin-x);

}

body footer {
    margin: var(--section-margin-y) var(--page-margin-x) 0 var(--page-margin-x);
}

p,
label,
input {
    font-size: var(--p-size);
}

a {
    text-decoration: none;
}



button.cta {

    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--black-color);
    color: #fff;
    border-color: var(--black-color);
    transition: 0.3s;
    width: fit-content;
    font-weight: bold;
    font-size: var(--p-size);
}

button.cta:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    border-color: var(--black-color);
    cursor: pointer;
}

section .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

section .header .title {
    font-size: var(--h2-size);
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
}

section .header p {
    font-size: var(--p-size);
    width: 100%;
    text-align: center;
    line-height: 1.2;
}

@media (min-width: 768px) {
    section .header {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
        margin-bottom: 2rem;
    }

    section .header p {
        width: 60%;
        text-align: start;
    }
}





/*Contact Us*/

#contact-section .block {
    display: block;
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 3rem;
    background-color: var(--gray-color);
    position: relative;
}

#contact-section .block .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}

#contact-section .block .form textarea,
#contact-section .block .form input {
    background-color: white;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    padding: 1rem;
    color: black;
    font-family: var(--main-font);
    font-size: var(--p-size);
}

#contact-section .block .image {
    position: absolute;
    object-fit: contain;
    height: 80%;
    right: 0;
    top: 10%;
}



/*Testimonials*/
#testimonials-section .block {
    margin-top: 2rem;
    background-color: var(--black-color);
    border-radius: 2rem;
    padding: 3rem;
    color: #fff;
}

#testimonials-section .block .list {
    display: flex;
    gap: 2rem;

}

#testimonials-section .block .item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);
    gap: 1rem;
}

#testimonials-section .block .item .message {
    border: 1px solid var(--primary-color);
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    position: relative;
    transition: 0.3s;
}

#testimonials-section .block .item:hover .message {
    transform: translateY(-0.5rem);
    box-shadow:
        6px 5px 2rem -11px rgba(185, 255, 102, 0.5);
}

#testimonials-section .block .item .message::after {
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 10%;
    bottom: -1rem;
    transform: rotate(45deg);
    background-color: var(--black-color);
}

#testimonials-section .block .item .name,
#testimonials-section .block .item .sub-title {
    margin-left: 10%;
}

#testimonials-section .block .item .name {
    font-weight: bold;
    color: var(--primary-color);
}

/*footer*/

.footer {
    background-color: black;
    color: #fff;
    padding: 4rem;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer .header .menu {
    display: flex;
    gap: 1rem;
}

.footer .header .menu .item {
    color: white;
    border-bottom: 1px solid #fff;
}


.footer .header .social-media {
    display: flex;
    gap: 0.5rem;

}

.footer .header .social-media i {
    color: #fff;
    transition: 0.5s;
    font-size: 1.5rem;
}

.footer .header .social-media i:hover {
    color: var(--primary-color);
    transform: translateY(-0.25rem);
}

.footer .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    line-height: 1.5;

}

.footer .contact .title {
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: fit-content;
}

.footer .contact .sub-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer .contact .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    width: calc(100% - 8rem);
    border-radius: 2rem;
    align-items: center;
    padding: 4rem;
    background-color: var(--black-color);
}

.footer .contact .form input {
    background-color: transparent;
    border: 1px solid var(--gray-color);
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    font-family: var(--main-font);
    font-size: var(--p-size);
}

.footer .contact .form button[type=submit] {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color: var(--black-color);
    font-family: var(--main-font);
    font-weight: bold;
    cursor: pointer;
    font-size: var(--p-size);
    transition: 0.3s;
}

.footer .contact .form button[type=submit]:hover {
    background-color: var(--gray-color);
    color: var(--black-color);
    border: 1px solid var(--primary-color);
}

.footer .divider {
    width: 100%;
    height: 1px;
    margin: 2rem 0;
    background-color: var(--gray-color);
}