html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);


}

body section {
    margin: var(--section-margin-y) var(--page-margin-x);

}

body footer {
    margin: var(--section-margin-y) var(--page-margin-x) 0 var(--page-margin-x);
}

p,
label,
input {
    font-size: var(--p-size);
}

a {
    text-decoration: none;
}



button.cta {

    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--black-color);
    color: #fff;
    border-color: var(--black-color);
    transition: 0.3s;
    width: fit-content;
    font-weight: bold;
    font-size: var(--p-size);
}

button.cta:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    border-color: var(--black-color);
    cursor: pointer;
}

section .header {
    display: flex;
    gap: 40px;
    align-items: center;
}

section .header .title {
    font-size: var(--h2-size);
    font-weight: bold;
    padding: 8px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

section .header p {
    font-size: var(--p-size);
    width: 50%;
    line-height: 1.2;
}


/* menu */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-size: var(--p-size);
    position: relative;
}

.menu .item {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    transition: 0.3s;
    padding: 8px;
    text-align: center;
    position: relative;
}

.menu .item:not(.cta)::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: 0.5s;
    border-radius: 5px;
}


.menu .item:hover {
    transform: translateY(-4px);
    font-weight: bold;

}

.menu .item:hover::after {
    width: 100%;
    left: 0;
}


.menu .cta {
    border: 1px solid var(--black-color);
    border-radius: 10px;
    padding: 10px 20px;
}

.menu .cta:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    border-color: var(--black-color);
}

/* hero-section */

#hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

#hero-section .text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 80%;
    gap: 20px;
    line-height: 1.5;

}


#hero-section .text .title {
    font-size: var(--h1-size);
    font-weight: bold;
}

#hero-section .text .sub-title {
    font-size: var(--p-size);

}


#hero-section .image img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: contain;
}

/* carousel */

.carousel {

    --carousel-item-width: 100px;
    --carousel-item-height: 50px;
    height: var(--carousel-item-height);
    position: relative;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);
    overflow: hidden;
}


.carousel .list {
    display: flex;
    width: 100%;
    position: relative;
    min-width: calc(var(--carousel-item-width) * var(--quantity));

}

.carousel .list .item {
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc(10 / var(--quantity) * (var(--position) - 1) * 1s);
    transition: 0.3s;
}

.carousel:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.carousel .item:hover {
    filter: grayscale(0);
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(-1 * var(--carousel-item-width));
    }
}

/*Services*/



#services-section .block-list {
    --service-block-width: 640px;
    display: grid;
    grid-template-columns: repeat(2, var(--service-block-width));
    gap: 40px;
    margin-top: 32px;
    justify-content: center;


}

#services-section .block-list .block {
    width: calc(100% - 96px);
    padding: 48px;
    min-height: 128px;
    max-width: 640px;
    border: 1px solid var(--black-color);
    border-radius: 32px;
    min-height: 128px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow:
        0px 4px 0px 0px rgba(0, 0, 0, 1);
    transition: 0.5s;
}

#services-section .block-list .block:hover {
    transform: translateY(-8px);
    box-shadow:
        0px 4px 9px -1px rgba(0, 0, 0, 1);
}

#services-section .block-list .block .title {
    font-size: var(--h3-size);
    font-weight: bold;
    padding: 4px;
    width: fit-content;
    border-radius: 4px;


}

#services-section .block-list .block .image {
    width: 100%;
    height: 196px;
    margin-top: 32px;

    margin: 0 0 0;
}

#services-section .block-list .block .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#services-section .block-list .block:nth-child(3n - 2) {
    background-color: var(--gray-color);
}

#services-section .block-list .block:nth-child(3n - 2) .title {
    background-color: var(--primary-color);
}

#services-section .block-list .block:nth-child(3n - 1) {
    background-color: var(--primary-color);
}

#services-section .block-list .block:nth-child(3n - 1) .title {
    background-color: var(--gray-color);
}

#services-section .block-list .block:nth-child(3n) {
    background-color: var(--black-color);
}

#services-section .block-list .block:nth-child(3n) .title {
    background-color: var(--gray-color);
}

/*CTA Section*/

#cta-section {
    margin-top: 32px;
    background-color: var(--gray-color);
    border-radius: 32px;
    padding: 48px;
    grid-column: 2 span;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#cta-section .title {
    font-size: var(--h3-size);
    font-weight: bold;
}

#cta-section p {
    max-width: 60%;
}

#cta-section img {
    position: absolute;
    right: calc(48px);
    top: -15%;
    height: 130%;
}

/*Case Study*/

#case-study-section .block {
    margin-top: 32px;
    background-color: var(--black-color);
    border-radius: 32px;
    padding: 48px;
    grid-column: 2 span;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#case-study-section .block .text {
    color: #fff;
    font-size: 1rem;
    text-align: justify;

}

#case-study-section .block .divider {
    width: 1px;
    height: 64px;
    background-color: #fff;

}


/*Contact Us*/

#contact-section .block {
    display: block;
    margin-top: 32px;
    width: calc(100% - var(--page-margin-x));
    border-radius: 32px;
    padding: 48px;
    background-color: var(--gray-color);
    position: relative;
}

#contact-section .block .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

#contact-section .block .form textarea,
#contact-section .block .form input {
    background-color: white;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    padding: 16px;
    color: black;
    font-family: var(--main-font);
    font-size: var(--p-size);
}

#contact-section .block .image {
    position: absolute;
    object-fit: contain;
    height: 80%;
    right: 0;
    top: 10%;
}

/*footer*/

.footer {
    background-color: black;
    color: #fff;
    padding: 64px;
    border-radius: 32px 32px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer .header .menu {
    display: flex;
    gap: 16px;
}

.footer .header .menu .item {
    color: white;
    border-bottom: 1px solid #fff;
}


.footer .header .social-media {
    display: flex;
    gap: 8px;
    font-size: 24px;
}

.footer .header .social-media i {
    color: #fff;
    transition: 0.5s;
}

.footer .header .social-media i:hover {
    color: var(--primary-color);
    transform: translateY(-4px);
}

.footer .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    line-height: 1.5;

}

.footer .contact .title {
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 16px;
    width: fit-content;
}

.footer .contact .sub-title {
    font-size: 1rem;
    margin-bottom: 8px;
}

.footer .contact .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
    width: calc(100% - 128px);
    border-radius: 32px;
    align-items: center;
    padding: 64px;
    background-color: var(--black-color);
}

.footer .contact .form input {
    background-color: transparent;
    border: 1px solid var(--gray-color);
    border-radius: 10px;
    padding: 16px;
    color: #fff;
    font-family: var(--main-font);
    font-size: var(--p-size);
}

.footer .contact .form button[type=submit] {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 16px;
    color: var(--black-color);
    font-family: var(--main-font);
    font-weight: bold;
    cursor: pointer;
    font-size: var(--p-size);
    transition: 0.3s;
}

.footer .contact .form button[type=submit]:hover {
    background-color: var(--gray-color);
    color: var(--black-color);
    border: 1px solid var(--primary-color);
}

.footer .divider {
    width: 100%;
    height: 1px;
    margin: 32px 0;
    background-color: var(--gray-color);
}