html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);


}

body section {
    margin: var(--section-margin-y) var(--page-margin-x);

}

body footer {
    margin: var(--section-margin-y) var(--page-margin-x) 0 var(--page-margin-x);
}

p,
label,
input {
    font-size: var(--p-size);
}

a {
    text-decoration: none;
}



button.cta {

    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--black-color);
    color: #fff;
    border-color: var(--black-color);
    transition: 0.3s;
    width: fit-content;
    font-weight: bold;
    font-size: var(--p-size);
}

button.cta:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    border-color: var(--black-color);
    cursor: pointer;
}

section .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

section .header .title {
    font-size: var(--h2-size);
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
}

section .header p {
    font-size: var(--p-size);
    width: 100%;
    text-align: center;
    line-height: 1.2;
}

@media (min-width: 768px) {
    section .header {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
        margin-bottom: 2rem;
    }

    section .header p {
        width: 60%;
        text-align: start;
    }
}