@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --primary-color: rgb(185, 255, 102);
    --gray-color: #F3F3F3;
    --black-color: #191A23;

    --main-font: 'Space Grotesk', sans-serif;

    --h1-size: 3rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;

    --p-size: 1.2rem;

    --page-margin-x: 128px;
    --section-margin-y: 64px;

    --screen-md: 768px;
    --screen-lg: 1024px;
}

@media (min-width: 768px) {
    :root {
        --page-margin-x: 8rem;
        --section-margin-y: 4rem;
    }
}